body {
    background-color: #73cce2;
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
  }
  
.jumbotron {
    background-color: #e4db61;
    color: white;
    padding: 30px 0px;
}
  
#title {
    font-size: 80px;
    letter-spacing: 8px;
}
  
.heading {
    color: black;
    padding-top: 40px;
    padding-bottom: 20px;
}
  
.eat-icon, .trash-icon {
    height: 25px;
    width: 25px;
}
    
.label {
    font-weight: bold;
}
  
#newBurger {
    padding: 0px 10px;
}
  
.form-group {
    margin-bottom: 5px;
}
    
h1, h2 {
    text-align: center;
}

input {
    height: 40px;
    border-radius: 6px;
}
  